<!-- Form to take in words. -->
<%= form_for(@search) do |f| %>
<%= f.label :words %>
<%= f.text_field :words, multiple: true%>
<%= f.submit "Submit words" %>
<% end %>
<td>
  <%= link_to 'Search Index', searches_path %>
</td>