<div class="center">
<h1 class="title"> Word Search Generator</h1>

<!-- Form to take in words. -->
<%= form_for(@search) do |f| %>
  <div class="form-group"> 
    <%= f.text_field :words, multiple: true, :class => 'word-input'%>
    <%= f.text_field :words, multiple: true, :class => 'word-input'%>
  </div>
  <div class="form-group"> 
    <%= f.text_field :words, multiple: true, :class => 'word-input'%>
    <%= f.text_field :words, multiple: true, :class => 'word-input'%>
  </div>
  <div class="form-group"> 
    <%= f.text_field :words, multiple: true, :class => 'word-input'%>
    <%= f.text_field :words, multiple: true, :class => 'word-input'%>
  </div>
  <div class="form-group"> 
    <%= f.text_field :words, multiple: true, :class => 'word-input'%>
    <%= f.text_field :words, multiple: true, :class => 'word-input'%>
  </div>
  <div class="form-group"> 
    <%= f.text_field :words, multiple: true, :class => 'word-input'%>
    <%= f.text_field :words, multiple: true, :class => 'word-input'%>
  </div>
    <%= f.submit "Generate", :class => 'submit-button' %>
  <% end %>
  <%= link_to 'Search Index', searches_path %>
</div>
