<p>

<!-- Set font face and size for table contents and caption -->
	<STYLE TYPE="text/css">
	<!--
	CAPTION{font-family: Verdana; font-size: 14pt;}
	TD{font-family: Verdana; font-size: 10pt;}
	--->
	</STYLE>

  <div>
    <%= link_to 'Search Index', searches_path , :class => 'link'%>
    </div>
  <div>
    <%= link_to 'Answer Key', key_search_path(@search) , :class => 'link'%>
    </div>
<!-- Display word search -->
  <div class="center">
  <table class="fixed" align="center" style="width:20%" cellpadding="5" cellspacing="0">
    <% @search.word_search.each do |array| %>
      <tr>
        <% array.length.times do |i| %>
        <td align="center"> <%= array[i] %> </td>
        <% end %> 
      </tr>
    <% end %>
  </div>

<!-- Create table to display search words in word bank -->
  	<table class="fixed" align="center" style="width:20%" bordercollapse="1" border="1" bordercolor = "black" bgcolor = "white" 
  		cellpadding="5" cellspacing = "0">
  		<col width="20px">
  		<col width="20px">

  	
  		<caption>Word Bank<caption>
  		<tr>
  			<td><%= @search.words[0] %></td>
  			<td><%= @search.words[5] %></td>
  		</tr>
  		<tr>
  			<td><%= @search.words[1] %></td>
  			<td><%= @search.words[6] %></td>
  		</tr>
  		<tr>
  			<td><%= @search.words[2] %></td>
  			<td><%= @search.words[7] %></td>
  		</tr>
  		<tr>
  			<td><%= @search.words[3] %></td>
  			<td><%= @search.words[8] %></td>
  		</tr>
  		<tr>
  			<td><%= @search.words[4] %></td>
  			<td><%= @search.words[9] %></td>
  		</tr>
</p>
